In [1]:
import pandas as pd
import numpy as np
import os

## 1、数据前处理嗡嗡嗡fsds

In [5]:
FilePath = os.path.abspath('.')
SuperPath = os.path.dirname(FilePath)
DocPath = os.path.join(SuperPath, '1_Data')
print(FilePath)
print(SuperPath)

d:\Python\Kaggle\1_贷款违约预测\2_Model
d:\Python\Kaggle\1_贷款违约预测

In [11]:
test = pd.read_csv(os.path.join(DocPath, 'testA.csv'))
train = pd.read_csv(os.path.join(DocPath, 'train.csv'))

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 46 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  200000 non-null  int64
 1   loanAmnt            200000 non-null  float64
 2   term                200000 non-null  int64
 3   interestRate        200000 non-null  float64
 4   installment         200000 non-null  float64
 5   grade               200000 non-null  object
 6   subGrade            200000 non-null  object
 7   employmentTitle     200000 non-null  float64
 8   employmentLength    188258 non-null  object
 9   homeOwnership       200000 non-null  int64
 10  annualIncome        200000 non-null  float64
 11  verificationStatus  200000 non-null  int64
 12  issueDate           200000 non-null  object
 13  purpose             200000 non-null  int64
 14  postCode            200000 non-null  float64
 15  regionCode          200000 non-null  int64
 16  dti                 199939 non-null  float64
 17  delinquency_2years  200000 non-null  float64
 18  ficoRangeLow        200000 non-null  float64
 19  ficoRangeHigh       200000 non-null  float64
 20  openAcc             200000 non-null  float64
 21  pubRec              200000 non-null  float64
 22  pubRecBankruptcies  199884 non-null  float64
 23  revolBal            200000 non-null  float64
 24  revolUtil           199873 non-null  float64
 25  totalAcc            200000 non-null  float64
 26  initialListStatus   200000 non-null  int64
 27  applicationType     200000 non-null  int64
 28  earliesCreditLine   200000 non-null  object
 29  title               200000 non-null  float64
 30  policyCode          200000 non-null  float64
 31  n0                  189889 non-null  float64
 32  n1                  189889 non-null  float64
 33  n2                  189889 non-null  float64
 34  n3                  189889 non-null  float64
 35  n4                  191606 non-null  float64
 36  n5                  189889 non-null  float64
 37  n6                  189889 non-null  float64
 38  n7                  189889 non-null  float64
 39  n8                  189889 non-null  float64
 40  n9                  189889 non-null  float64
 41  n10                 191606 non-null  float64
 42  n11                 182425 non-null  float64
 43  n12                 189889 non-null  float64
 44  n13                 189889 non-null  float64
 45  n14                 189889 non-null  float64
dtypes: float64(33), int64(8), object(5)
memory usage: 70.2+ MB

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 47 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  800000 non-null  int64
 1   loanAmnt            800000 non-null  float64
 2   term                800000 non-null  int64
 3   interestRate        800000 non-null  float64
 4   installment         800000 non-null  float64
 5   grade               800000 non-null  object
 6   subGrade            800000 non-null  object
 7   employmentTitle     799999 non-null  float64
 8   employmentLength    753201 non-null  object
 9   homeOwnership       800000 non-null  int64
 10  annualIncome        800000 non-null  float64
 11  verificationStatus  800000 non-null  int64
 12  issueDate           800000 non-null  object
 13  isDefault           800000 non-null  int64
 14  purpose             800000 non-null  int64
 15  postCode            799999 non-null  float64
 16  regionCode          800000 non-null  int64
 17  dti                 799761 non-null  float64
 18  delinquency_2years  800000 non-null  float64
 19  ficoRangeLow        800000 non-null  float64
 20  ficoRangeHigh       800000 non-null  float64
 21  openAcc             800000 non-null  float64
 22  pubRec              800000 non-null  float64
 23  pubRecBankruptcies  799595 non-null  float64
 24  revolBal            800000 non-null  float64
 25  revolUtil           799469 non-null  float64
 26  totalAcc            800000 non-null  float64
 27  initialListStatus   800000 non-null  int64
 28  applicationType     800000 non-null  int64
 29  earliesCreditLine   800000 non-null  object
 30  title               799999 non-null  float64
 31  policyCode          800000 non-null  float64
 32  n0                  759730 non-null  float64
 33  n1                  759730 non-null  float64
 34  n2                  759730 non-null  float64
 35  n3                  759730 non-null  float64
 36  n4                  766761 non-null  float64
 37  n5                  759730 non-null  float64
 38  n6                  759730 non-null  float64
 39  n7                  759730 non-null  float64
 40  n8                  759729 non-null  float64
 41  n9                  759730 non-null  float64
 42  n10                 766761 non-null  float64
 43  n11                 730248 non-null  float64
 44  n12                 759730 non-null  float64
 45  n13                 759730 non-null  float64
 46  n14                 759730 non-null  float64
dtypes: float64(33), int64(9), object(5)
memory usage: 286.9+ MB

In [17]:
label = train[['id','isDefault']]

In [33]:
#查看样本是否平衡
label['isDefault'].value_counts()

0    640390
1    159610
Name: isDefault, dtype: int64

In [18]:
train = train.drop('isDefault', axis=1)

In [34]:
df = train.append(test)

In [35]:
df.shape

(1000000, 46)

In [36]:
df.isnull().sum()

id                        0
loanAmnt                  0
term                      0
interestRate              0
installment               0
grade                     0
subGrade                  0
employmentTitle           1
employmentLength      58541
homeOwnership             0
annualIncome              0
verificationStatus        0
issueDate                 0
purpose                   0
postCode                  1
regionCode                0
dti                     300
delinquency_2years        0
ficoRangeLow              0
ficoRangeHigh             0
openAcc                   0
pubRec                    0
pubRecBankruptcies      521
revolBal                  0
revolUtil               658
totalAcc                  0
initialListStatus         0
applicationType           0
earliesCreditLine         0
title                     1
policyCode                0
n0                    50381
n1                    50381
n2                    50381
n3                    50381
n4                    41633
n5                    50381
n6                    50381
n7                    50381
n8                    50382
n9                    50381
n10                   41633
n11                   87327
n12                   50381
n13                   50381
n14                   50381
dtype: int64

In [37]:
df = df.fillna(-1)

## 2、特征工程构建

In [38]:
df.columns

Index(['id', 'loanAmnt', 'term', 'interestRate', 'installment', 'grade',
       'subGrade', 'employmentTitle', 'employmentLength', 'homeOwnership',
       'annualIncome', 'verificationStatus', 'issueDate', 'purpose',
       'postCode', 'regionCode', 'dti', 'delinquency_2years', 'ficoRangeLow',
       'ficoRangeHigh', 'openAcc', 'pubRec', 'pubRecBankruptcies', 'revolBal',
       'revolUtil', 'totalAcc', 'initialListStatus', 'applicationType',
       'earliesCreditLine', 'title', 'policyCode', 'n0', 'n1', 'n2', 'n3',
       'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12', 'n13', 'n14'],
      dtype='object')

In [ ]:
import re

In [41]:
#改字段格式
df['employmentLength'].str.split(' ')

0           [2, years]
1           [5, years]
2           [8, years]
3         [10+, years]
4                  NaN
              ...
199995      [7, years]
199996       [1, year]
199997      [8, years]
199998      [4, years]
199999      [7, years]
Name: employmentLength, Length: 1000000, dtype: object

In [ ]:
print('dfdf')

In [ ]:
print(dfd)