In [2]:
import pandas as pd
import numpy as np
import os

## 1、数据前处理

In [3]:
FilePath = os.path.abspath('.')
SuperPath = os.path.dirname(FilePath)
DocPath = os.path.join(SuperPath, '1_Data')
print(FilePath)
print(SuperPath)

d:\bian\Competition\Loan default forecast\2_model
d:\bian\Competition\Loan default forecast

In [4]:
test = pd.read_csv(os.path.join(DocPath, 'testA.csv'))
train = pd.read_csv(os.path.join(DocPath, 'train.csv'))

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 46 columns):
id                    200000 non-null int64
loanAmnt              200000 non-null float64
term                  200000 non-null int64
interestRate          200000 non-null float64
installment           200000 non-null float64
grade                 200000 non-null object
subGrade              200000 non-null object
employmentTitle       200000 non-null float64
employmentLength      188258 non-null object
homeOwnership         200000 non-null int64
annualIncome          200000 non-null float64
verificationStatus    200000 non-null int64
issueDate             200000 non-null object
purpose               200000 non-null int64
postCode              200000 non-null float64
regionCode            200000 non-null int64
dti                   199939 non-null float64
delinquency_2years    200000 non-null float64
ficoRangeLow          200000 non-null float64
ficoRangeHigh         200000 non-null float64
openAcc               200000 non-null float64
pubRec                200000 non-null float64
pubRecBankruptcies    199884 non-null float64
revolBal              200000 non-null float64
revolUtil             199873 non-null float64
totalAcc              200000 non-null float64
initialListStatus     200000 non-null int64
applicationType       200000 non-null int64
earliesCreditLine     200000 non-null object
title                 200000 non-null float64
policyCode            200000 non-null float64
n0                    189889 non-null float64
n1                    189889 non-null float64
n2                    189889 non-null float64
n3                    189889 non-null float64
n4                    191606 non-null float64
n5                    189889 non-null float64
n6                    189889 non-null float64
n7                    189889 non-null float64
n8                    189889 non-null float64
n9                    189889 non-null float64
n10                   191606 non-null float64
n11                   182425 non-null float64
n12                   189889 non-null float64
n13                   189889 non-null float64
n14                   189889 non-null float64
dtypes: float64(33), int64(8), object(5)
memory usage: 70.2+ MB

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 47 columns):
id                    800000 non-null int64
loanAmnt              800000 non-null float64
term                  800000 non-null int64
interestRate          800000 non-null float64
installment           800000 non-null float64
grade                 800000 non-null object
subGrade              800000 non-null object
employmentTitle       799999 non-null float64
employmentLength      753201 non-null object
homeOwnership         800000 non-null int64
annualIncome          800000 non-null float64
verificationStatus    800000 non-null int64
issueDate             800000 non-null object
isDefault             800000 non-null int64
purpose               800000 non-null int64
postCode              799999 non-null float64
regionCode            800000 non-null int64
dti                   799761 non-null float64
delinquency_2years    800000 non-null float64
ficoRangeLow          800000 non-null float64
ficoRangeHigh         800000 non-null float64
openAcc               800000 non-null float64
pubRec                800000 non-null float64
pubRecBankruptcies    799595 non-null float64
revolBal              800000 non-null float64
revolUtil             799469 non-null float64
totalAcc              800000 non-null float64
initialListStatus     800000 non-null int64
applicationType       800000 non-null int64
earliesCreditLine     800000 non-null object
title                 799999 non-null float64
policyCode            800000 non-null float64
n0                    759730 non-null float64
n1                    759730 non-null float64
n2                    759730 non-null float64
n3                    759730 non-null float64
n4                    766761 non-null float64
n5                    759730 non-null float64
n6                    759730 non-null float64
n7                    759730 non-null float64
n8                    759729 non-null float64
n9                    759730 non-null float64
n10                   766761 non-null float64
n11                   730248 non-null float64
n12                   759730 non-null float64
n13                   759730 non-null float64
n14                   759730 non-null float64
dtypes: float64(33), int64(9), object(5)
memory usage: 286.9+ MB

In [6]:
label = train[['id','isDefault']]

In [7]:
#查看样本是否平衡
label['isDefault'].value_counts()

0    640390
1    159610
Name: isDefault, dtype: int64

In [8]:
train = train.drop('isDefault', axis=1)

In [9]:
df = train.append(test)

In [10]:
df.shape

(1000000, 46)

In [11]:
df.isnull().sum()

id                        0
loanAmnt                  0
term                      0
interestRate              0
installment               0
grade                     0
subGrade                  0
employmentTitle           1
employmentLength      58541
homeOwnership             0
annualIncome              0
verificationStatus        0
issueDate                 0
purpose                   0
postCode                  1
regionCode                0
dti                     300
delinquency_2years        0
ficoRangeLow              0
ficoRangeHigh             0
openAcc                   0
pubRec                    0
pubRecBankruptcies      521
revolBal                  0
revolUtil               658
totalAcc                  0
initialListStatus         0
applicationType           0
earliesCreditLine         0
title                     1
policyCode                0
n0                    50381
n1                    50381
n2                    50381
n3                    50381
n4                    41633
n5                    50381
n6                    50381
n7                    50381
n8                    50382
n9                    50381
n10                   41633
n11                   87327
n12                   50381
n13                   50381
n14                   50381
dtype: int64

In [12]:
df['n10'].unique()

array([ 7., 13., 11.,  9., 12., 19.,  8., 15., 10., 16.,  5.,  6., 23.,
       17., nan, 29., 21.,  4., 14., 54.,  3., 31., 26., 20., 18., 24.,
       42.,  2., 32., 28., 41., 37., 52., 25., 27., 39., 22., 43., 35.,
       33., 38., 34., 36., 40., 30., 45., 46.,  1., 44., 56., 51., 48.,
       49., 58.,  0., 47., 61., 55., 76., 53., 81., 50., 57., 66., 60.,
       72., 62., 77., 70., 82., 59., 80., 64., 63., 75., 74., 67., 68.,
       84., 90., 65.])

In [13]:
df = df.fillna(-1)

## 2、特征工程构建

In [14]:
df.columns

Index(['id', 'loanAmnt', 'term', 'interestRate', 'installment', 'grade',
       'subGrade', 'employmentTitle', 'employmentLength', 'homeOwnership',
       'annualIncome', 'verificationStatus', 'issueDate', 'purpose',
       'postCode', 'regionCode', 'dti', 'delinquency_2years', 'ficoRangeLow',
       'ficoRangeHigh', 'openAcc', 'pubRec', 'pubRecBankruptcies', 'revolBal',
       'revolUtil', 'totalAcc', 'initialListStatus', 'applicationType',
       'earliesCreditLine', 'title', 'policyCode', 'n0', 'n1', 'n2', 'n3',
       'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12', 'n13', 'n14'],
      dtype='object')

In [ ]:
import re

In [17]:
#改字段格式
df['employmentLength'].value_counts()

10+ years    328525
2 years       90565
< 1 year      80226
3 years       80163
1 year        65671
5 years       62645
4 years       59818
-1            58541
6 years       46582
8 years       45168
7 years       44230
9 years       37866
Name: employmentLength, dtype: int64

In [18]:
df['employmentLength'] = df['employmentLength'].apply(lambda x: '0 year' if str(x) =='< 1 year'else '10 year' if str(x) == '10+ years'
 else '-1 years' if str(x) == '-1' else x)

In [19]:
df['employmentLength'].value_counts()

10 year     328525
2 years      90565
0 year       80226
3 years      80163
1 year       65671
5 years      62645
4 years      59818
-1 years     58541
6 years      46582
8 years      45168
7 years      44230
9 years      37866
Name: employmentLength, dtype: int64

In [20]:
df['employmentLength'] = df['employmentLength'].apply(lambda x:str(x).split(' ')[0])

In [23]:
df['earliesCreditLine_year'] = df['earliesCreditLine'].apply(lambda x:str(x).split('-')[1])

In [24]:
# df['earliesCreditLine_month'] = df['earliesCreditLine'].apply(lambda x:str(x).split('-')[0])

In [26]:
df['earliesCreditLine_year'].value_counts()

2001    66365
2002    63893
2003    63253
2000    63205
2004    61762
1999    57442
2005    55037
1998    48544
2006    47405
1997    41540
1996    40652
1995    38128
2007    35492
1994    34118
1993    27881
2008    22697
1992    19825
1990    19513
1991    18335
1989    17727
1988    14721
2009    14334
2010    13329
1987    13216
2011    12282
1986    11415
1985    10010
1984     9144
2012     8304
1983     7448
        ...
1974     1510
1973     1381
1972     1207
1971      796
1970      743
1969      717
1968      533
1967      470
1966      307
1965      301
2015      251
1964      215
1963      147
1962      100
1960       67
1961       67
1959       52
1958       27
1957       18
1956       12
1955       10
1951        9
1950        7
1952        7
1953        6
1954        6
1944        2
1946        2
1949        1
1945        1
Name: earliesCreditLine_year, Length: 70, dtype: int64

In [28]:
# 等级变换
df['grade'] = df['grade'].map({'A':1,'B':2,'C':3,'D':4,'E':5})

In [29]:
df.head()

,id,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,...,n7,n8,n9,n10,n11,n12,n13,n14,earliesCreditLine_year,earliesCreditLine_month
0,0,35000.0,5,19.52,917.97,5.0,E2,320.0,2,2,...,4.0,12.0,2.0,7.0,0.0,0.0,0.0,2.0,2001,Aug
1,1,18000.0,5,18.49,461.90,4.0,D2,219843.0,5,0,...,-1.0,-1.0,-1.0,13.0,-1.0,-1.0,-1.0,-1.0,2002,May
2,2,12000.0,5,16.99,298.17,4.0,D3,31698.0,8,0,...,4.0,5.0,3.0,11.0,0.0,0.0,0.0,4.0,2006,May
3,3,11000.0,3,7.26,340.96,1.0,A4,46854.0,10,1,...,7.0,21.0,6.0,9.0,0.0,0.0,0.0,1.0,1999,May
4,4,3000.0,3,12.99,101.07,3.0,C2,54.0,-1,1,...,10.0,15.0,7.0,12.0,0.0,0.0,0.0,4.0,1977,Aug

## 对变量进行分类
1、分类变量
2、数值变量
3、时间序列